nav{
	float: right;
}
header{
border:2px solid red;
padding:20px;
margin-bottom:20px;
background:blue;
}
ul{
list-style: none;
}
header ul{
float: right;
text-align;right;
}
header ul li{
display: inline-block;
margin-left:10px;
color:#000000;
font-weight:bold;
}
aside{
	width:220px;
	border:2px solid blue;
	display:inline-block;
}
article{
	width:788px;
	border:2px solid #dd23ff;
	display:inline-block;
	margin-left:20px;
	padding:20px;
	vertical-align:top;
}
